body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #657580;
  width: 100%;
}

.first-input,
.second-input {
  width: 30%;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 15vh;
}

#input1,
#input2 {
  width: 85%;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  height: 30px;
}

.first-input p,
.second-input p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

button {
  font-size: 20px;
  padding: 4px;
  height: 30px;
  background: linear-gradient( to top, rgb(47, 105, 47), rgb(106, 255, 37) );
  border: none;
  border-radius: 5px;
}

#count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 10px;  
}

.values-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 70vw;
  overflow-y: hidden;
  max-height: 50vh;
  align-items: stretch;
  justify-content: flex-start;
}

#content:hover {
  overflow-y: auto; 
}

i {
  font-size: 30px;  
}

.fa-edit {
  color: rgb(13, 190, 13);
}

.fa-trash-alt {
  color: tomato;
}

.fa-check-square {
  color: rgb(13, 190, 13); 
}

.fa-backspace {
  color: tomato;
}

#countOf {
  margin: 5px;
}

.counter {
  display: flex;
  width: 80%;
  justify-content: end;
}

#text {
  width: 90%;
  max-width: 30vw;
  text-align: justify;  
  word-wrap: break-word;
  margin: 0;
}

#date {
  width: 45%;
  text-align: center;
  margin: 0;
}

#summ {
  width: 45%;
  text-align: center;  
  margin: 0;
}

.button-div {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30%;
  align-items: center;
}

.value-div input {
  width: 45%;
}

.name-div input {
  width: 90%;
}

.num {
  margin: 4px;
}

.value-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 70%;
  align-items: center;
}

@media (max-width: 1030px) {
  .main-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 80%; 
  }

  .first-input, .second-input {
    width: 100%;
    margin: 10px;
  }

  #input1, #input2 {
    width: 100%;
  }
  
  .main {
    height: 100%;
    align-items: center;
  }

  button {
    margin-left: 85%;
  }

  #content {
    width: 80%; 
    font-size: 20px;
  }

  .name-div {
    width: 65%;
    justify-content: space-between;
  }

  #date, #summ, .button-div {
    width: 100%;
    margin: 5px;    
  }  

  .value-div {
    width: 35%;
    flex-direction: column;
  }

  .value-div input {
    width: 90%;
    align-items: center;
    height: 100%;
  }

}

@media (max-width: 430px) {
  button {
    margin-left: 70%;
  }
  
  #content {
    max-height: 36vh;
  }
}